---
import Layout from '../layouts/Layout.astro';
import MainPage from '../components/MainPage';
---

<Layout title="Welcome to Astro.">
	<main>
		<MainPage/>
	</main>
</Layout>




<style>
	
</style>
